<form class="simFrom" #simForm="ngForm" (ngSubmit)="prepararSim()">
  <div class="row">
    <div class="col">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Cantidad de experimentos</span>
        </div>
        <input type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" [(ngModel)]="cant_simulaciones"
          [disabled]="flagSimulado" #cant="ngModel" name="cant" required>
      </div>
      <h6 class="msg" *ngIf="!flagSimulado"><small>{{msg}}</small></h6>
    </div>
    <div class="col">
      <div class="input-group">
        <div class="input-group-prepend">
          <label class="input-group-text">Política</label>
        </div>
        <select class="custom-select" [(ngModel)]="paga" [ngModelOptions]="{standalone: true}" [disabled]="flagSimulado">
          <option [value]="true">Pagar ${{costo_limpia}} al limpiavidrios</option>
          <option [value]="false">No pagar al limpiavidrios (daño ${{costo_rompe}})</option>
        </select>
      </div>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-success mb-2" [disabled]="simForm.invalid" *ngIf="!flagSimulado && !loading">Empezar simulación</button>
      <button type="button" class="btn btn-danger mb-2" *ngIf="flagSimulado && !loading" (click)="reset()">Nueva simulación</button>
      <button type="button" class="btn btn-danger mb-2" *ngIf="loading" (click)="cancel()">Cancelar</button>
    </div>
    <div class="col-auto" [hidden]="!loading">
      <h2 class="row">
        <spinner [size]="40" [tickness]="1"></spinner>&nbsp;{{barValue | percent}} </h2>
    </div>
  </div>
</form>

<hr>

<ngb-tabset [hidden]="!showTable" [justify]="'center'">
  <ngb-tab>
    <ng-template ngbTabTitle>
      <b>Ruta 1</b>
      <fa class="colorRed" name="star"></fa>
      <fa class="colorRed" name="star"></fa>
      <fa class="colorRed" name="star"></fa>
    </ng-template>

    <ng-template ngbTabContent>
      <table class="table table-striped table-sm table-dark headerTable">

        <thead>
          <tr>
            <th></th>
            <th class="columnSeparator"><img src="../assets/images/semaforo.png">Semáforo R1</th>
            <th></th>
            <th></th>
            <th *ngIf="!paga"></th>
            <th class="columnSeparator"><img src="../assets/images/semaforo.png">Semáforo R2</th>
            <th></th>
            <th></th>
            <th *ngIf="!paga"></th>
            <th class="columnSeparator"><img src="../assets/images/semaforo.png">Semáforo R3</th>
            <th></th>
            <th></th>
            <th *ngIf="!paga"></th>
            <th class="columnSeparator"></th>
          </tr>
          <tr>
            <th scope="col" class="numr1" [class.numr1p]="paga">num</th>

            <th scope="col" class="columnSeparator">Rnd/Detenido</th>
            <th scope="col">Rnd/Cerca</th>
            <th scope="col">Rnd/Limpia</th>
            <th scope="col" *ngIf="!paga">Rnd/Daño</th>


            <th scope="col" class="columnSeparator">Rnd/Detenido</th>
            <th scope="col">Rnd/Cerca</th>
            <th scope="col">Rnd/Limpia</th>
            <th scope="col" *ngIf="!paga">Rnd/Daño</th>


            <th scope="col" class="columnSeparator">Rnd/Detenido</th>
            <th scope="col">Rnd/Cerca</th>
            <th scope="col">Rnd/Limpia</th>
            <th scope="col" *ngIf="!paga">Rnd/Daño</th>


            <th scope="col" class="columnSeparator">Costo</th>


          </tr>
        </thead>
      </table>

      <div class="htable">

        <table class="table table-striped table-sm table-dark">


          <tbody>
            <tr *ngFor="let sim of simulacionesR1" [class.bg-success]="sim[0].costo > 0 || sim[1].costo > 0 || sim[2].costo > 0">
              <th scope="row">{{sim[0].num | number:'3.0'}}</th>

              <td [class.bg-danger]="!sim[0].detenido" class="columnSeparator">[{{sim[0].rnd_detenido}}] - {{sim[0].detenido | setBooleans}}</td>
              <td [class.bg-danger]="!sim[0].cerca_limpiador">[{{sim[0].rnd_cerca_limpiador | setNoValue}}] - {{sim[0].cerca_limpiador | setBooleans}}</td>
              <td [class.bg-danger]="!sim[0].limpia">[{{sim[0].rnd_limpia | setNoValue}}] - {{sim[0].limpia | setBooleans}}</td>
              <td [class.bg-danger]="!sim[0].rompe" *ngIf="!paga">[{{sim[0].rnd_rompe | setNoValue}}] - {{sim[0].rompe | setBooleans}}</td>

              <td [class.bg-danger]="!sim[1].detenido" class="columnSeparator">[{{sim[1].rnd_detenido}}] - {{sim[1].detenido | setBooleans}}</td>
              <td [class.bg-danger]="!sim[1].cerca_limpiador">[{{sim[1].rnd_cerca_limpiador | setNoValue}}] - {{sim[1].cerca_limpiador | setBooleans}}</td>
              <td [class.bg-danger]="!sim[1].limpia">[{{sim[1].rnd_limpia | setNoValue}}] - {{sim[1].limpia | setBooleans}}</td>
              <td [class.bg-danger]="!sim[1].rompe" *ngIf="!paga">[{{sim[1].rnd_rompe | setNoValue}}] - {{sim[1].rompe | setBooleans}}</td>

              <td [class.bg-danger]="!sim[2].detenido" class="columnSeparator">[{{sim[2].rnd_detenido}}] - {{sim[2].detenido | setBooleans}}</td>
              <td [class.bg-danger]="!sim[2].cerca_limpiador">[{{sim[2].rnd_cerca_limpiador | setNoValue}}] - {{sim[2].cerca_limpiador | setBooleans}}</td>
              <td [class.bg-danger]="!sim[2].limpia">[{{sim[2].rnd_limpia | setNoValue}}] - {{sim[2].limpia | setBooleans}}</td>
              <td [class.bg-danger]="!sim[2].rompe" *ngIf="!paga">[{{sim[2].rnd_rompe | setNoValue}}] - {{sim[2].rompe | setBooleans}}</td>

              <td class="columnSeparator costor1">{{sim[0].costo + sim[1].costo + sim[2].costo}}</td>

            </tr>

          </tbody>
        </table>
      </div>

    </ng-template>
  </ngb-tab>

  <ngb-tab>
    <ng-template ngbTabTitle>
      <b>Ruta 2</b>
      <fa class="colorBlue" name="star"></fa>
      <fa class="colorBlue" name="star"></fa>
    </ng-template>
    <ng-template ngbTabContent>
      <table class="table table-striped table-sm table-dark headerTable2">
        <thead>
          <tr>
            <th></th>
            <th class="columnSeparator"><img src="../assets/images/semaforo.png">Semáforo P1</th>
            <th></th>
            <th></th>
            <th *ngIf="!paga"></th>
            <th class="columnSeparator"><img src="../assets/images/semaforo.png">Semáforo P2</th>
            <th></th>
            <th></th>
            <th *ngIf="!paga"></th>

            <th class="columnSeparator"></th>
          </tr>
          <tr>
            <th scope="col" class="numr2" [class.numr2p]="paga">num</th>

            <th scope="col" class="columnSeparator">Rnd/Detenido</th>
            <th scope="col">Rnd/Cerca</th>
            <th scope="col">Rnd/Limpia</th>
            <th scope="col" *ngIf="!paga">Rnd/Daño</th>

            <th scope="col" class="columnSeparator">Rnd/Detenido</th>
            <th scope="col">Rnd/Cerca</th>
            <th scope="col">Rnd/Limpia</th>
            <th scope="col" *ngIf="!paga">Rnd/Daño</th>

            <th scope="col" class="columnSeparator">Costo</th>

          </tr>
        </thead>
      </table>
      <div class="htable">
        <table class="table table-striped table-sm table-dark">

          <tbody>
            <tr *ngFor="let sim of simulacionesR2" [class.bg-success]="sim[0].costo > 0 || sim[1].costo > 0">
              <th scope="row">{{sim[0].num | number:'3.0'}}</th>

              <td [class.bg-danger]="!sim[0].detenido" class="columnSeparator">[{{sim[0].rnd_detenido}}] - {{sim[0].detenido | setBooleans}}</td>
              <td [class.bg-danger]="!sim[0].cerca_limpiador">[{{sim[0].rnd_cerca_limpiador | setNoValue}}] - {{sim[0].cerca_limpiador | setBooleans}}</td>
              <td [class.bg-danger]="!sim[0].limpia">[{{sim[0].rnd_limpia | setNoValue}}] - {{sim[0].limpia | setBooleans}}</td>
              <td [class.bg-danger]="!sim[0].rompe" *ngIf="!paga">[{{sim[0].rnd_rompe | setNoValue}}] - {{sim[0].rompe | setBooleans}}</td>

              <td [class.bg-danger]="!sim[1].detenido" class="columnSeparator">[{{sim[1].rnd_detenido}}] - {{sim[1].detenido | setBooleans}}</td>
              <td [class.bg-danger]="!sim[1].cerca_limpiador">[{{sim[1].rnd_cerca_limpiador | setNoValue}}] - {{sim[1].cerca_limpiador | setBooleans}}</td>
              <td [class.bg-danger]="!sim[1].limpia">[{{sim[1].rnd_limpia | setNoValue}}] - {{sim[1].limpia | setBooleans}}</td>
              <td [class.bg-danger]="!sim[1].rompe" *ngIf="!paga">[{{sim[1].rnd_rompe | setNoValue}}] - {{sim[1].rompe | setBooleans}}</td>

              <td class="columnSeparator costor2">{{sim[0].costo + sim[1].costo}}</td>

            </tr>

          </tbody>
        </table>
      </div>


    </ng-template>
  </ngb-tab>
</ngb-tabset>


<div *ngIf="showTable" class="container text-center bkInfoRes">

  <button type="button" class="btn btn-success mb-2" *ngIf="!flagSimuladoCompleto" (click)="repetir()">Simular con cambio de política</button>

  <div class="row">
    <div class="col-sm">
      <h1>Resultados</h1>
    </div>

  </div>
  <div class="row">
    <div class="col-sm" *ngIf="sim_pagando">
      <hr>
      <h3>Pagando al lmpiavidrios
        <small>${{costo_limpia}}</small>
      </h3>
      <br>
      <h5>
        <fa class="colorRed" name="star"></fa>
        <fa class="colorRed" name="star"></fa>
        <fa class="colorRed" name="star"></fa>
        Costo en {{cant_simulaciones}} experimentos:
        <strong>${{costo_acumuladoR1p}}</strong>
        <h6>Promedio: ${{costo_acumuladoR1p / cant_simulaciones | number : '1.2-2'}}</h6>
      </h5>
      <h5>
        <fa class="colorBlue" name="star"></fa>
        <fa class="colorBlue" name="star"></fa>
        Costo en {{cant_simulaciones}} experimentos:
        <strong>${{costo_acumuladoR2p}}</strong>
        <h6>Promedio: ${{costo_acumuladoR2p / cant_simulaciones | number : '1.2-2'}}</h6>
      </h5>
    </div>
    <div class="col-sm" *ngIf="sim_nopagando">
      <hr>
      <h3>No pagando
        <small>(${{costo_rompe}} el daño)</small>
      </h3>
      <br>
      <h5>
        <fa class="colorRed" name="star"></fa>
        <fa class="colorRed" name="star"></fa>
        <fa class="colorRed" name="star"></fa>
        Costo en {{cant_simulaciones}} experimentos:
        <strong>${{costo_acumuladoR1np}}</strong>
        <h6>Promedio: ${{costo_acumuladoR1np / cant_simulaciones | number : '1.2-2'}}</h6>
      </h5>
      <h5>
        <fa class="colorBlue" name="star"></fa>
        <fa class="colorBlue" name="star"></fa>
        Costo en {{cant_simulaciones}} experimentos:
        <strong>${{costo_acumuladoR2np}}</strong>
        <h6>Promedio: ${{costo_acumuladoR2np / cant_simulaciones | number : '1.2-2'}}</h6>
      </h5>
    </div>



  </div>
</div>

<div *ngIf="!flagSimulado" class="container text-center bkInfo">
  <h1 class="display-4">Ej. 338 Limpiavidrios</h1>
  <a href="../assets/docs/Ejercicio338.pdf" target="_blank">Ver enunciado Ejercico 338</a>
</div>

<div class="text-center footer">Agustín Muñoz Campos - Simulación UTN FRC 2018</div>