.columnSeparator{
    border-left: white solid 5px;
}

.simFrom {
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
}

.bkInfo {
    height: 40vh;
    background-color: rgb(213, 252, 222);
    border-radius: 4px;
    margin-top: 8%;
    padding: 100px 0;

}

.footer {
    color: rgba(0, 0, 0, 0.26);
    margin-top: 5%;
}

.colorRed {
    color: red;
}

.colorBlue {
    color: blue;
}

.bg-danger {
    color: #f36976;
}

table {
    margin-top: 5px;

}
