.columnSeparator{
    border-left: white solid 5px;
}

.simFrom {
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
}

.bkInfo {
    height: 40vh;
    background-color: rgb(213, 252, 222);
    border-radius: 4px;
    margin-top: 8%;
    padding: 100px;
}

.bkInfoRes {  
    margin-top: 8px; 
    padding-top: 8px;
}

.footer {
    color: rgba(0, 0, 0, 0.507);
    margin-top: 5%;
}

.colorRed {
    color: red;
}

.colorBlue {
    color: blue;
}

.bg-danger {
    color: #f36976;
}

table {    
    margin-bottom: 1px;
}

.htable {
    height: 65vh;
    overflow-y: scroll;
}

.headerTable {
    margin-top: 5px;
    //border-right: 1vw solid;
}

.headerTable2 {
    margin-top: 5px;
    //border-right: 1vw solid;
}

.table {
    td {
        text-align: center; 
    }
    th {
        text-align: center; 
        padding-left: 0;
        padding-right: 0;
        img {
            height: 25px;
            width: auto;
        }
    }
 }

 .msg {
     margin: 0 !important;
     color: #f36976;
 }

 .costor1 {
     width: 4.6%;
 }
 .costor2 {
     width: 95px;
 }

 .numr1 {
     width: 60px;
 }
 .numr2 {
     width: 87px;
 }

 .numr2p {
    width: 113px;
 }

 .numr1p {
    width: 79px;
 }
